nodered.flows.json
[
    {
        "id": "0e8d0aef.b95f88",
        "type": "tab",
        "label": "Coil Status",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6a247f931f2c64ab",
        "type": "modbus-read",
        "z": "0e8d0aef.b95f88",
        "name": "Read Coil Status",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "",
        "dataType": "Coil",
        "adr": "0",
        "quantity": "6",
        "rate": "${EXAMPLE_PERIOD}",
        "rateUnit": "ms",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "8110ba46f65226d0",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 320,
        "y": 640,
        "wires": [
            [
                "e7e65dc6784d3b68"
            ],
            []
        ]
    },
    {
        "id": "cff14452125ba11b",
        "type": "debug",
        "z": "0e8d0aef.b95f88",
        "name": "Any Coil Status Changed",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 600,
        "wires": []
    },
    {
        "id": "e7e65dc6784d3b68",
        "type": "rbe",
        "z": "0e8d0aef.b95f88",
        "name": "If Any Status Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 560,
        "y": 660,
        "wires": [
            [
                "cff14452125ba11b",
                "80fcd1c3365b956f"
            ]
        ]
    },
    {
        "id": "e03b5c03637654a0",
        "type": "www-request",
        "z": "0e8d0aef.b95f88",
        "name": "Send to Webapp",
        "method": "use",
        "ret": "txt",
        "url": "",
        "follow-redirects": true,
        "persistent-http": true,
        "tls": "",
        "x": 1100,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "80fcd1c3365b956f",
        "type": "function",
        "z": "0e8d0aef.b95f88",
        "name": "Convert to HTTP",
        "func": "const host = env.get('EXAMPLE_WEBAPP');\nconst pass = env.get('EXAMPLE_APIKEY');\nconst user = 'example';\nconst auth = Buffer.from(`${user}:${pass}`).toString('base64');\nconst body = msg.payload.map(function(/** @type {any} */ state, /** @type {any} */ index) {\n    return {\n        name: 'Coil',\n        output: `${index}-Status`,\n        value: state ? 'on' : 'off',\n    };\n});\n\nmsg.method = 'POST';\nmsg.url = `http://${host}/api/v1/sensors`;\nmsg.payload = body;\nmsg.headers = {\n    Authorization: `basic ${auth}`,\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 660,
        "wires": [
            [
                "e03b5c03637654a0",
                "c50fc806c983e0ad"
            ]
        ]
    },
    {
        "id": "c50fc806c983e0ad",
        "type": "debug",
        "z": "0e8d0aef.b95f88",
        "name": "Print HTTP Request",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 600,
        "wires": []
    },
    {
        "id": "8110ba46f65226d0",
        "type": "modbus-client",
        "name": "ADAM6000",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "${EXAMPLE_MODBUS}",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "18a7f9a28202e473",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-modbus": "5.43.0",
            "node-red-contrib-http-request": "0.1.14"
        }
    }
]